body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.article-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.setup {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 5px 5px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 50px;
}